

.FooterContainer {
    background-color: #09549F;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-evenly;
    padding: 2%;
}
.logo{
    height: 70px;
    float: left;
    margin-bottom: 5%;
}
.FooterText{
    width: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;

}
.FooterIcons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 768px) {
    .FooterContainer {
        background-color: #09549F;
        display: flex;
        flex-direction: column;
        color: #fff;
        justify-content: center !important;
        padding: 3%;
    }
    .logo{
        height: 90px;
        margin-bottom: 5%;
        float: none;
    }
    .FooterText{
        width: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    
    }
    .FooterIcons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        margin-bottom: 5%;
    }
}