.container-content {
    display: flex;
    flex-direction: row;
    color: #2C3E50;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;


  }
  .TextContent{
    width: 50%;
    text-align: left;
    margin-right: 3%;
  }

  p{
    font-size: 16px;
    font-weight: 500;
  }
.TextTitle{
    color: #09549F;
    font-weight: bold;
    font-size: 46px;
    text-align: left;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  background-color:#fff  !important;
}

.search-input {
  width: auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-right: 100px; /* Espaço para o botão */
  background-color:#fff  !important;

}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  position: absolute;
  right: 10px;
  background-color: #09549F;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #357ab7;
}

.subitens{
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-top: 5%;
  text-align: center;
}

.subitens h4{
  color: #09549F;
  font-weight: bold;
}
 

 

  .Banner{
    height: 580px !important;
    width: auto;
  }

  .ImageContent img{
    height: 700px;
    margin-bottom: 3%;
  }

  .slider-container{
    padding: 5%;
    margin-top: 5%;
    
    justify-content: start;
    align-items: center;
    background-color: #EDF1FA;
    height: auto;
    border-radius: 22px;
  }

  .SliderTitle{
    margin-bottom: 5%;
    color: #2C3E50;
    font-weight: 500;
  }
  
  .slider-container img{
    height: 120px;
    margin: 0 auto;
    border-radius: 100%;

    box-shadow: #2C3E50;
  }


  @media (max-width: 768px) {

    .container-content {
      display: flex;
      flex-direction: column !important;
      color: #2C3E50;
      margin-top: 5%;
      justify-content: center;
      align-items: center;
      text-align: center;
  
    }
    .TextContent{
      width: 100%;
      text-align: center;
      margin-bottom: 3%;
    }
  
    p{
      font-size: 18px;
      font-weight: 500;
    }
  .TextTitle{
      color: #09549F;
      font-weight: bold;
      font-size: 36px;
      text-align: center;
  }
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background-color:#fff  !important;
  }
  
  .search-input {
    width: auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-right: 100px; /* Espaço para o botão */
    background-color:#fff  !important;
  
  }
  
  .search-input::placeholder {
    color: #aaa;
  }
  
  .search-button {
    position: absolute;
    right: 10px;
    background-color: #09549F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #357ab7;
  }
  
  .subitens{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 5%;
    text-align: center;
  }
  
  .subitens h4{
    color: #09549F;
    font-weight: bold;
  }
    .ImageContent{
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 1s ease-out, transform 1s ease-out;
      overflow-x: hidden;
    }
  
    .ImageContent.fade-in {
      opacity: 1;
      transform: translateX(0);
    }
  
    .Banner{
      height: 580px !important;
      width: auto;
    }
  
    .ImageContent img{
      display: none;
    }



  }




  